.Titel {
  background-color: #196b69;
  border-bottom: solid 3px #fff;
}

.titel-tekst {
  color: white;
  padding-left: 40px;
  padding-top: 30px;
}

.Introcover {
  background-image: url(https://raw.githubusercontent.com/niels-joel/frankrijk/main/Foto/landscape.jpg);
  background-size: cover;
  background-position: center;
  padding: 6% 0 15% 0;
}

.introtitel {
  font-size: 50px;
  text-align: center;
  color: white;
}

.wereldkaart {
  padding: 20px;
}

.vlag {
  padding: 20px;
  height: 300px;
}

.taal {
  color: black;
  padding-left: 40px;
}

.weetjes {
  padding-left: 40px;
}

.wetten {
  padding-left: 40px;
}

.eiffeltoren {
  padding-left: 40px;
}

body {
  background-color: white;
  background-position: center top;
  background-size: cover;
  font-family: sans-serif;
}

.landschappen-titel {
  padding-left: 40px;
}

.Tekst-bij-afbeeldingen {
  text-align: center;
}

/* grid layout */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 7fr 4fr 3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Titel Titel"
    "Introcover Introcover"
    "Tekst Plaatjes"
    "Afbeeldingen Afbeeldingen"
    "Tekst-bij-afbeeldingen Tekst-bij-afbeeldingen";
}

.Titel {
  grid-area: Titel;
}

.Tekst {
  grid-area: Tekst;
}

.Plaatjes {
  grid-area: Plaatjes;
}

.Introcover {
  grid-area: Introcover;
}

.Afbeeldingen {
  grid-area: Afbeeldingen;
}

.Tekst-bij-afbeeldingen {
  grid-area: Tekst-bij-afbeeldingen;
}

/* grid layout end */

/* slideshow */

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* slideshow end */
